In [2]:
import findspark
findspark.init()

In [3]:
findspark.find()
import pyspark
findspark.find()

'C:\\Users\\cipri\\spark-3.0.1-bin-hadoop2.7'

In [4]:
import os
import pyspark.sql.functions as F
from pyspark.sql import SparkSession

In [5]:
os.environ["AWS_ACCESS_KEY_ID"]='AKIATGK5E2VLLCXL4MWK'
os.environ["AWS_SECRET_ACCESS_KEY"]='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'

In [6]:
spark = SparkSession.builder.appName("I94 Data Dictionary").config("spark.jars.packages","org.apache.hadoop:hadoop-aws:2.7.0").getOrCreate()

In [7]:
df_state = spark.read.options(delimiter="=", header=None).csv("dags/data/source/additional_tables/i94addrl.txt")

In [8]:
df_state = df_state.withColumnRenamed("_c0", "state_code").withColumnRenamed("_c1", "state")

In [9]:
df_state.columns

['state_code', 'state']

In [10]:
df_state.head(5)

[Row(state_code="    'AL'", state="'ALABAMA'"),
 Row(state_code="\t'AK'", state="'ALASKA'"),
 Row(state_code="\t'AZ'", state="'ARIZONA'"),
 Row(state_code="\t'AR'", state="'ARKANSAS'"),
 Row(state_code="\t'CA'", state="'CALIFORNIA'")]

In [11]:
def removeTabs(dataframe, columns):
    for col in columns:
        dataframe = dataframe.withColumn(col, F.regexp_replace(dataframe[col], "\t", ""))
    return dataframe

def removeSingleQuotes(dataframe, columns):
    for col in columns:
        dataframe = dataframe.withColumn(col, F.regexp_replace(dataframe[col], "'", ""))
    return dataframe

def trimStrings(dataframe, columns):
    for col in columns:
        dataframe = dataframe.withColumn(col, F.ltrim(F.rtrim(dataframe[col])))
    return dataframe

In [12]:
input_data = ["state_code", "state"]
df_state = removeSingleQuotes(df_state, input_data)
    # remove tab spaces from state_code
df_state = removeTabs(df_state, input_data)
    # trim strings
df_state = trimStrings(df_state, input_data)

In [13]:
df_state.head(5)

[Row(state_code='AL', state='ALABAMA'),
 Row(state_code='AK', state='ALASKA'),
 Row(state_code='AZ', state='ARIZONA'),
 Row(state_code='AR', state='ARKANSAS'),
 Row(state_code='CA', state='CALIFORNIA')]

In [14]:
# df_state.write.mode("overwrite").parquet("s3a://capestone-project-udacity-ciprian/output/" + "state")

In [15]:
df_country = spark.read.options(delimiter="=", header=None).csv("dags/data/source/additional_tables/i94cntyl.txt")

In [16]:
df_country.head(5)

[Row(_c0='   582 ', _c1="  'MEXICO Air Sea, and Not Reported (I-94, no land arrivals)'"),
 Row(_c0='   236 ', _c1="  'AFGHANISTAN'"),
 Row(_c0='   101 ', _c1="  'ALBANIA'"),
 Row(_c0='   316 ', _c1="  'ALGERIA'"),
 Row(_c0='   102 ', _c1="  'ANDORRA'")]

In [17]:
df_country = df_country.withColumnRenamed("_c0", "country_code").withColumnRenamed("_c1", "country")

In [18]:
input_data = ['country']
df_country = removeSingleQuotes(df_country, input_data)

In [19]:
input_data = ['country_code', 'country']
df_country = removeSingleQuotes(df_country, input_data)
df_country = removeTabs(df_country, input_data)
df_country = trimStrings(df_country, input_data)

In [20]:
# expr = "No Country.*"
# df_country = df_country.filter(df_country["country"].rlike(expr))

In [21]:
df_country = df_country\
        .withColumn("country",
          F.regexp_replace(df_country.country, 
          "^INVALID.*|Collapsed.*|No Country.*", "INVALID"))

In [22]:
# df_country.write.mode("overwrite").parquet(output_data + "country")

In [23]:
df_country.head(5)

[Row(country_code='582', country='MEXICO Air Sea, and Not Reported (I-94, no land arrivals)'),
 Row(country_code='236', country='AFGHANISTAN'),
 Row(country_code='101', country='ALBANIA'),
 Row(country_code='316', country='ALGERIA'),
 Row(country_code='102', country='ANDORRA')]

In [24]:
df_country.count()

289

In [25]:
df_airport = spark.read.options(delimiter="=", header=False).csv("dags/data/source/additional_tables/i94prtl.txt")
df_airport = df_airport.withColumnRenamed("_c0", "port_code").withColumnRenamed("_c1", "port_mix")

In [26]:
input_data = ['port_code', 'port_mix']
df_airport = removeSingleQuotes(df_airport,input_data)
df_airport.head(5)

[Row(port_code='   ALC\t', port_mix='\tALCAN, AK             '),
 Row(port_code='   ANC\t', port_mix='\tANCHORAGE, AK         '),
 Row(port_code='   BAR\t', port_mix='\tBAKER AAF - BAKER ISLAND, AK'),
 Row(port_code='   DAC\t', port_mix='\tDALTONS CACHE, AK     '),
 Row(port_code='   PIZ\t', port_mix='\tDEW STATION PT LAY DEW, AK')]

In [27]:
split_col = F.split(df_airport.port_mix, ",")

In [28]:
df_airport = df_airport.withColumn("city", split_col.getItem(0))
df_airport = df_airport.withColumn("state_code", split_col.getItem(1))

In [29]:
# drop port_mix
df_airport.drop("port_mix")
input_data = ["port_code","city", "state_code"]
# remove tab spaces
df_airport = removeTabs(df_airport, input_data)
# trim spaces
df_airport = trimStrings(df_airport, input_data)

In [30]:
df_airport = df_airport["port_code","city", "state_code"]

In [31]:
df_airport.head(5)

[Row(port_code='ALC', city='ALCAN', state_code='AK'),
 Row(port_code='ANC', city='ANCHORAGE', state_code='AK'),
 Row(port_code='BAR', city='BAKER AAF - BAKER ISLAND', state_code='AK'),
 Row(port_code='DAC', city='DALTONS CACHE', state_code='AK'),
 Row(port_code='PIZ', city='DEW STATION PT LAY DEW', state_code='AK')]

In [32]:
df_state = spark.read.parquet("s3a://capestone-project-udacity-ciprian/output/" + "state")

In [33]:
df_airport = df_airport.join(df_state, ['state_code'])

In [34]:
df_airport.head(5)

[Row(state_code='AK', port_code='ALC', city='ALCAN', state='ALASKA'),
 Row(state_code='AK', port_code='ANC', city='ANCHORAGE', state='ALASKA'),
 Row(state_code='AK', port_code='BAR', city='BAKER AAF - BAKER ISLAND', state='ALASKA'),
 Row(state_code='AK', port_code='DAC', city='DALTONS CACHE', state='ALASKA'),
 Row(state_code='AK', port_code='PIZ', city='DEW STATION PT LAY DEW', state='ALASKA')]

In [35]:
# df_airport.write.mode("overwrite").parquet("s3a://capestone-project-udacity-ciprian/output/" + "airport-dict")

In [36]:
df_model = spark.read.options(delimiter="=", header=False).csv("dags/data/source/additional_tables/i94model.txt")

In [37]:
df_model.head(5)

[Row(_c0='    1 ', _c1=" 'Air'"),
 Row(_c0='\t2 ', _c1=" 'Sea'"),
 Row(_c0='\t3 ', _c1=" 'Land'"),
 Row(_c0='\t9 ', _c1=" 'Not reported'")]

In [38]:
df_model = df_model.withColumnRenamed("_c0", "model_code").withColumnRenamed("_c1", "model")

In [39]:
 input_data = ['model', 'model_code']
# remove single quotes
df_model = removeSingleQuotes(df_model, input_data)
# remove tab spaces
input_data = ['model', 'model_code']
# remove tab spaces
df_model = removeTabs(df_model, input_data)
# trim spaces
df_model = trimStrings(df_model, input_data)

In [40]:
df_model.head(5)

[Row(model_code='1', model='Air'),
 Row(model_code='2', model='Sea'),
 Row(model_code='3', model='Land'),
 Row(model_code='9', model='Not reported')]

In [41]:
# df_model.write.mode("overwrite").parquet("s3a://capestone-project-udacity-ciprian/output/" + "model")

In [41]:
df_visa = spark.read.options(delimiter="=", header=False).csv("dags/data/source/additional_tables/i94visa.txt")

In [42]:
df_visa.head(5)

[Row(_c0='   1 ', _c1=' Business'),
 Row(_c0='   2 ', _c1=' Pleasure'),
 Row(_c0='   3 ', _c1=' Student')]

In [43]:
df_visa = df_visa.withColumnRenamed("_c0", "visa_code").withColumnRenamed("_c1", "visa")
input_data = ['visa_code', 'visa']
# remove single quotes
df_visa = removeSingleQuotes(df_visa, input_data)
# remove tab spaces
df_visa = removeTabs(df_visa, input_data)
# trim spaces
df_visa = trimStrings(df_visa, input_data)

In [44]:
df_visa.head(5)

[Row(visa_code='1', visa='Business'),
 Row(visa_code='2', visa='Pleasure'),
 Row(visa_code='3', visa='Student')]

In [45]:
df_visa.write.mode("overwrite").parquet("s3a://capestone-project-udacity-ciprian/output/" + "visa")

In [46]:
from pyspark.sql.types import StructType as R, StructField as Fld, DoubleType as Dbl, StringType as Str, IntegerType as Int, DateType as Date, LongType as Long

In [47]:
  airportSchema = R([
                        Fld("airport_id",Str()),
                        Fld("type",Str()),
                        Fld("name",Str()),
                        Fld("elevation_ft",Str()),
                        Fld("continent",Str()),
                        Fld("iso_country",Str()),
                        Fld("iso_region",Str()),
                        Fld("municipality",Str()),
                        Fld("gps_code",Str()),
                        Fld("iata_code",Str()),
                        Fld("local_code",Str()),
                        Fld("coordinates",Str())
                        ])

In [48]:
df_airport = spark.read.options(delimiter=",", header=True, schema=airportSchema).csv("dags/data/source/airport-codes_csv.csv")

In [49]:

df_airport.head(5)

[Row(ident='00A', type='heliport', name='Total Rf Heliport', elevation_ft='11', continent='NA', iso_country='US', iso_region='US-PA', municipality='Bensalem', gps_code='00A', iata_code=None, local_code='00A', coordinates='-74.93360137939453, 40.07080078125'),
 Row(ident='00AA', type='small_airport', name='Aero B Ranch Airport', elevation_ft='3435', continent='NA', iso_country='US', iso_region='US-KS', municipality='Leoti', gps_code='00AA', iata_code=None, local_code='00AA', coordinates='-101.473911, 38.704022'),
 Row(ident='00AK', type='small_airport', name='Lowell Field', elevation_ft='450', continent='NA', iso_country='US', iso_region='US-AK', municipality='Anchor Point', gps_code='00AK', iata_code=None, local_code='00AK', coordinates='-151.695999146, 59.94919968'),
 Row(ident='00AL', type='small_airport', name='Epps Airpark', elevation_ft='820', continent='NA', iso_country='US', iso_region='US-AL', municipality='Harvest', gps_code='00AL', iata_code=None, local_code='00AL', coordinates='-86.77030181884766, 34.86479949951172'),
 Row(ident='00AR', type='closed', name='Newport Hospital & Clinic Heliport', elevation_ft='237', continent='NA', iso_country='US', iso_region='US-AR', municipality='Newport', gps_code=None, iata_code=None, local_code=None, coordinates='-91.254898, 35.6087')]

In [50]:
df_airport.count()

55075

In [51]:
df_airport.distinct().count()

55075

In [52]:
 df_airport = df_airport.filter("iso_country='US' and type!='closed'")

In [53]:
#  df_airport = df_airport.filter("iata_code is not null")
from pyspark.sql.functions import udf, regexp_replace,lower, split, col

In [54]:
df_airport = df_airport.withColumn("latitude", split(col("coordinates"), ",")[0].cast(Dbl()))
df_airport = df_airport.withColumn("longitude", split(col("coordinates"), ",")[1].cast(Dbl()))

In [55]:
df_airport = df_airport.withColumn("state", split(col("iso_region"), "-")[1])

In [56]:
#rename fields
#df_airport = df_airport.withColumnRenamed("municipality", "city")

In [57]:
df_airport.createOrReplaceTempView("df_airports")
df_airport = spark.sql("""
       select ident as airport_id, type, name, elevation_ft, iso_country, state, municipality, gps_code, iata_code as airport_code, latitude, longitude
          from df_airports
          where iata_code is not null
          
       union
       
       select ident as airport_id, type, name, elevation_ft, iso_country, state, municipality, gps_code, local_code  as airport_code, latitude, longitude
           from df_airports
           where local_code is not null
                                    """)

In [58]:
df_airport.head(5)

[Row(airport_id='KBFF', type='medium_airport', name='Western Neb. Rgnl/William B. Heilig Airport', elevation_ft='3967', iso_country='US', state='NE', municipality='Scottsbluff', gps_code='KBFF', airport_code='BFF', latitude=-103.5960007, longitude=41.87400055),
 Row(airport_id='KNRS', type='small_airport', name='Naval Outlying Field Imperial Beach (Ream Field)', elevation_ft='24', iso_country='US', state='CA', municipality='Imperial Beach', gps_code='KNRS', airport_code='NRS', latitude=-117.1169968, longitude=32.56669998),
 Row(airport_id='KSUE', type='small_airport', name='Door County Cherryland Airport', elevation_ft='725', iso_country='US', state='WI', municipality='Sturgeon Bay', gps_code='KSUE', airport_code='SUE', latitude=-87.42150116, longitude=44.84370041),
 Row(airport_id='00IN', type='heliport', name='St Mary Medical Center Heliport', elevation_ft='634', iso_country='US', state='IN', municipality='Hobart', gps_code='00IN', airport_code='00IN', latitude=-87.2605972290039, longitude=41.51139831542969),
 Row(airport_id='02KS', type='small_airport', name='Jmj Landing Airport', elevation_ft='1170', iso_country='US', state='KS', municipality='St Marys', gps_code='02KS', airport_code='02KS', latitude=-96.0552978515625, longitude=39.222198486328125)]

In [59]:
# df_us_airports = spark.read.parquet("s3a://capestone-project-udacity-ciprian/output/airport-dict/")
# df_immigration_airport = df_airport.join(df_us_airports, df_us_airports.port_code==df_airport.airport_code, how="inner")

In [60]:
df_airport.head(5)

[Row(airport_id='KBFF', type='medium_airport', name='Western Neb. Rgnl/William B. Heilig Airport', elevation_ft='3967', iso_country='US', state='NE', municipality='Scottsbluff', gps_code='KBFF', airport_code='BFF', latitude=-103.5960007, longitude=41.87400055),
 Row(airport_id='KNRS', type='small_airport', name='Naval Outlying Field Imperial Beach (Ream Field)', elevation_ft='24', iso_country='US', state='CA', municipality='Imperial Beach', gps_code='KNRS', airport_code='NRS', latitude=-117.1169968, longitude=32.56669998),
 Row(airport_id='KSUE', type='small_airport', name='Door County Cherryland Airport', elevation_ft='725', iso_country='US', state='WI', municipality='Sturgeon Bay', gps_code='KSUE', airport_code='SUE', latitude=-87.42150116, longitude=44.84370041),
 Row(airport_id='00IN', type='heliport', name='St Mary Medical Center Heliport', elevation_ft='634', iso_country='US', state='IN', municipality='Hobart', gps_code='00IN', airport_code='00IN', latitude=-87.2605972290039, longitude=41.51139831542969),
 Row(airport_id='02KS', type='small_airport', name='Jmj Landing Airport', elevation_ft='1170', iso_country='US', state='KS', municipality='St Marys', gps_code='02KS', airport_code='02KS', latitude=-96.0552978515625, longitude=39.222198486328125)]

In [61]:
# df_airport.write.mode("overwrite").partitionBy("airport_code", "state").parquet("s3a://capestone-project-udacity-ciprian/output/airport-codes")

In [139]:
df_demographics = spark.read.options(delimiter=";", header=True, encoding="UTF-8").csv("dags/data/source/us-cities-demographics.csv")

In [140]:
df_demographics.count()

2891

In [141]:
df_demographics_clean = df_demographics.filter(df_demographics.State.isNotNull()).dropDuplicates(subset=['state', 'city', 'race'])

In [142]:
df_demographics_clean.count()

2891

In [143]:
df_demo = df_demographics.withColumnRenamed("State Code", "state_code")\
        .withColumnRenamed("Median Age","median_age")\
        .withColumnRenamed("City", "city") \
        .withColumnRenamed("State", "state") \
        .withColumnRenamed("Male Population", "male_population") \
        .withColumnRenamed("Female Population", "female_population") \
        .withColumnRenamed("Race", "race") \
        .withColumnRenamed("Total Population", "population")

In [144]:
df_demo = df_demo.select("state_code", "state", "male_population",  "female_population", "median_age", "race", "population")

In [145]:
def get_first_category_per_state(spark, dataframe, column):
    dataframe.createOrReplaceTempView("dataframe")
    dataframe_table = spark.sql("""
        SELECT
        state_code, {0}, count(*) as count_all
          FROM dataframe
          GROUP BY state_code, {0} 
    """.format(column))

    dataframe_table.createOrReplaceTempView("df_all_table")

    row_number_table = spark.sql("""
           SELECT
            state_code,
            {0},
            row_number() over (partition by state_code order by count_all desc) as row_number
          FROM df_all_table
    """.format(column))

    row_number_table.createOrReplaceTempView("row_number_table")

    table_final = spark.sql("""
        SELECT state_code, {0}
        FROM row_number_table
        WHERE row_number = 1 
    """.format(column))

    return table_final

In [146]:
df_demo_race=get_first_category_per_state(spark, df_demo, "race")
df_demo_race.head(5)

[Row(state_code='AZ', race='Hispanic or Latino'),
 Row(state_code='SC', race='Hispanic or Latino'),
 Row(state_code='LA', race='Hispanic or Latino'),
 Row(state_code='MN', race='White'),
 Row(state_code='NJ', race='White')]

In [147]:
df_demo_race.createOrReplaceTempView("df_demographics_race")

In [148]:
df_demo.createOrReplaceTempView("df_demographics")
df_demo = spark.sql("""
                SELECT
                    a.state_code, 
                    state, 
                    SUM(male_population) as sum_male_population,  
                    SUM(female_population) as sum_female_population, 
                    AVG(CAST(median_age AS DOUBLE)) as median_all_age, 
                    r.race, 
                    SUM(CAST(population AS DOUBLE)) as sum_all_population
                FROM df_demographics as a
                LEFT JOIN df_demographics_race as r on a.state_code=r.state_code
                group by a.state_code, a.state, r.race
            """)

In [149]:
df_demo.head(5)

[Row(state_code='MN', state='Minnesota', sum_male_population=3478803.0, sum_female_population=3565362.0, median_all_age=35.579629629629636, race='White', sum_all_population=7044165.0),
 Row(state_code='AK', state='Alaska', sum_male_population=764725.0, sum_female_population=728750.0, median_all_age=32.2, race='American Indian and Alaska Native', sum_all_population=1493475.0),
 Row(state_code='MO', state='Missouri', sum_male_population=3666310.0, sum_female_population=3929660.0, median_all_age=34.86666666666667, race='Asian', sum_all_population=7595970.0),
 Row(state_code='IA', state='Iowa', sum_male_population=1772066.0, sum_female_population=1831937.0, median_all_age=32.54411764705883, race='White', sum_all_population=3604003.0),
 Row(state_code='NY', state='New York', sum_male_population=23422799.0, sum_female_population=25579256.0, median_all_age=35.57037037037037, race='Asian', sum_all_population=49002055.0)]

In [112]:
df_demo_Florida = spark.sql("""
                SELECT
                    state_code, 
                    state, 
                    male_population,  
                    female_population, 
                    median_age, 
                    race, 
                    population
                FROM df_demographics
                WHERE state='Florida'
            """)

In [113]:
df_demo_Florida.head(50)

[Row(state_code='FL', state='Florida', male_population='36850', female_population='37165', median_age='37.3', race='White', population='74015'),
 Row(state_code='FL', state='Florida', male_population='123524', female_population='133564', median_age='41.8', race='White', population='257088'),
 Row(state_code='FL', state='Florida', male_population='50719', female_population='62480', median_age='34.9', race='Black or African-American', population='113199'),
 Row(state_code='FL', state='Florida', male_population='55225', female_population='57754', median_age='47.0', race='White', population='112979'),
 Row(state_code='FL', state='Florida', male_population='55225', female_population='57754', median_age='47.0', race='Asian', population='112979'),
 Row(state_code='FL', state='Florida', male_population='55225', female_population='57754', median_age='47.0', race='American Indian and Alaska Native', population='112979'),
 Row(state_code='FL', state='Florida', male_population='89390', female_population='100504', median_age='26.2', race='Hispanic or Latino', population='189894'),
 Row(state_code='FL', state='Florida', male_population='37155', female_population='42614', median_age='41.4', race='White', population='79769'),
 Row(state_code='FL', state='Florida', male_population='39504', female_population='45760', median_age='33.5', race='White', population='85264'),
 Row(state_code='FL', state='Florida', male_population='48090', female_population='44221', median_age='42.5', race='Asian', population='92311'),
 Row(state_code='FL', state='Florida', male_population='49262', female_population='57520', median_age='39.6', race='White', population='106782'),
 Row(state_code='FL', state='Florida', male_population='56569', female_population='51202', median_age='42.5', race='Black or African-American', population='107771'),
 Row(state_code='FL', state='Florida', male_population='66157', female_population='70958', median_age='36.6', race='Black or African-American', population='137115'),
 Row(state_code='FL', state='Florida', male_population='44210', female_population='45536', median_age='32.2', race='American Indian and Alaska Native', population='89746'),
 Row(state_code='FL', state='Florida', male_population='32956', female_population='36991', median_age='38.6', race='Black or African-American', population='69947'),
 Row(state_code='FL', state='Florida', male_population='44760', female_population='48466', median_age='47.3', race='White', population='93226'),
 Row(state_code='FL', state='Florida', male_population='48754', female_population='52140', median_age='40.8', race='American Indian and Alaska Native', population='100894'),
 Row(state_code='FL', state='Florida', male_population='84069', female_population='95341', median_age='42.1', race='Asian', population='179410'),
 Row(state_code='FL', state='Florida', male_population='44853', female_population='43621', median_age='39.9', race='Hispanic or Latino', population='88474'),
 Row(state_code='FL', state='Florida', male_population='33283', female_population='35869', median_age='36.7', race='Hispanic or Latino', population='69152'),
 Row(state_code='FL', state='Florida', male_population='32813', female_population='38761', median_age='35.7', race='Hispanic or Latino', population='71574'),
 Row(state_code='FL', state='Florida', male_population='47840', female_population='56570', median_age='38.1', race='Black or African-American', population='104410'),
 Row(state_code='FL', state='Florida', male_population='47840', female_population='56570', median_age='38.1', race='Asian', population='104410'),
 Row(state_code='FL', state='Florida', male_population=None, female_population=None, median_age='70.5', race='Hispanic or Latino', population='72590'),
 Row(state_code='FL', state='Florida', male_population='55679', female_population='58289', median_age='36.1', race='Asian', population='113968'),
 Row(state_code='FL', state='Florida', male_population='44760', female_population='48466', median_age='47.3', race='Asian', population='93226'),
 Row(state_code='FL', state='Florida', male_population='39180', female_population='40956', median_age='43.4', race='American Indian and Alaska Native', population='80136'),
 Row(state_code='FL', state='Florida', male_population='51767', female_population='56128', median_age='40.7', race='Black or African-American', population='107895'),
 Row(state_code='FL', state='Florida', male_population='42881', female_population='49674', median_age='40.6', race='Hispanic or Latino', population='92555'),
 Row(state_code='FL', state='Florida', male_population='75358', female_population='74363', median_age='41.4', race='White', population='149721'),
 Row(state_code='FL', state='Florida', male_population='48295', female_population='54902', median_age='45.1', race='Hispanic or Latino', population='103197'),
 Row(state_code='FL', state='Florida', male_population='36658', female_population='39808', median_age='40.2', race='White', population='76466'),
 Row(state_code='FL', state='Florida', male_population='130940', female_population='139977', median_age='33.1', race='Hispanic or Latino', population='270917'),
 Row(state_code='FL', state='Florida', male_population='77050', female_population='89574', median_age='40.3', race='Hispanic or Latino', population='166624'),
 Row(state_code='FL', state='Florida', male_population='37155', female_population='42614', median_age='41.4', race='Black or African-American', population='79769'),
 Row(state_code='FL', state='Florida', male_population='60803', female_population='69330', median_age='26.0', race='Hispanic or Latino', population='130133'),
 Row(state_code='FL', state='Florida', male_population='175517', female_population='193511', median_age='35.3', race='Hispanic or Latino', population='369028'),
 Row(state_code='FL', state='Florida', male_population=None, female_population=None, median_age='70.5', race='Black or African-American', population='72590'),
 Row(state_code='FL', state='Florida', male_population='33701', female_population='40271', median_age='45.8', race='Hispanic or Latino', population='73972'),
 Row(state_code='FL', state='Florida', male_population='85626', female_population='89604', median_age='45.0', race='Asian', population='175230'),
 Row(state_code='FL', state='Florida', male_population='66157', female_population='70958', median_age='36.6', race='White', population='137115'),
 Row(state_code='FL', state='Florida', male_population='33701', female_population='40271', median_age='45.8', race='White', population='73972'),
 Row(state_code='FL', state='Florida', male_population='39504', female_population='45760', median_age='33.5', race='Asian', population='85264'),
 Row(state_code='FL', state='Florida', male_population='44853', female_population='43621', median_age='39.9', race='White', population='88474'),
 Row(state_code='FL', state='Florida', male_population='48090', female_population='44221', median_age='42.5', race='Black or African-American', population='92311'),
 Row(state_code='FL', state='Florida', male_population='419203', female_population='448828', median_age='35.7', race='Hispanic or Latino', population='868031'),
 Row(state_code='FL', state='Florida', male_population='47840', female_population='56570', median_age='38.1', race='American Indian and Alaska Native', population='104410'),
 Row(state_code='FL', state='Florida', male_population='49262', female_population='57520', median_age='39.6', race='Hispanic or Latino', population='106782'),
 Row(state_code='FL', state='Florida', male_population='31401', female_population='35099', median_age='31.4', race='Black or African-American', population='66500'),
 Row(state_code='FL', state='Florida', male_population='38166', female_population='42841', median_age='45.1', race='Asian', population='81007')]

In [114]:
df_demo.head(5)

[Row(state_code='MN', state='Minnesota', sum_male_population=3478803.0, sum_female_population=3565362.0, avg(CAST(median_age AS DOUBLE))=35.579629629629636, race='White', sum(CAST(population AS DOUBLE))=7044165.0),
 Row(state_code='AK', state='Alaska', sum_male_population=764725.0, sum_female_population=728750.0, avg(CAST(median_age AS DOUBLE))=32.2, race='American Indian and Alaska Native', sum(CAST(population AS DOUBLE))=1493475.0),
 Row(state_code='MO', state='Missouri', sum_male_population=3666310.0, sum_female_population=3929660.0, avg(CAST(median_age AS DOUBLE))=34.86666666666667, race='Asian', sum(CAST(population AS DOUBLE))=7595970.0),
 Row(state_code='IA', state='Iowa', sum_male_population=1772066.0, sum_female_population=1831937.0, avg(CAST(median_age AS DOUBLE))=32.54411764705883, race='White', sum(CAST(population AS DOUBLE))=3604003.0),
 Row(state_code='NY', state='New York', sum_male_population=23422799.0, sum_female_population=25579256.0, avg(CAST(median_age AS DOUBLE))=35.57037037037037, race='Asian', sum(CAST(population AS DOUBLE))=49002055.0)]

In [119]:
df_immigration_data = spark.read.options(delimiter=",", header=True, encoding="UTF-8").csv("dags/data/source/immigration_data_sample.csv")

In [120]:
df_immigration_data.count()

1000

In [121]:
df_immigration_data.head()

Row(_c0='2027561', cicid='4084316.0', i94yr='2016.0', i94mon='4.0', i94cit='209.0', i94res='209.0', i94port='HHW', arrdate='20566.0', i94mode='1.0', i94addr='HI', depdate='20573.0', i94bir='61.0', i94visa='2.0', count='1.0', dtadfile='20160422', visapost=None, occup=None, entdepa='G', entdepd='O', entdepu=None, matflag='M', biryear='1955.0', dtaddto='07202016', gender='F', insnum=None, airline='JL', admnum='56582674633.0', fltno='00782', visatype='WT')

In [122]:
import datetime as dt

In [123]:
udf_date_timedelta = F.udf(lambda x: (dt.datetime(1960, 1, 1).date() + dt.timedelta(int(float(x)))).isoformat() if x else None)

In [124]:
df_immigration_data = df_immigration_data.withColumn("arrdate", udf_date_timedelta(df_immigration_data.arrdate))

In [95]:
df_country.head(5)

[Row(country_code='582', country='MEXICO Air Sea, and Not Reported (I-94, no land arrivals)'),
 Row(country_code='236', country='AFGHANISTAN'),
 Row(country_code='101', country='ALBANIA'),
 Row(country_code='316', country='ALGERIA'),
 Row(country_code='102', country='ANDORRA')]

In [125]:
df_immigration_data = df_immigration_data['i94yr', 'i94mon', 'i94cit', 'i94res','i94port','arrdate', 'i94mode', 'i94addr','i94bir','i94visa','occup','gender']
df_immigration_data = df_immigration_data.withColumnRenamed("i94yr", "year")\
        .withColumnRenamed("i94mon", "month")\
        .withColumnRenamed("i94cit", "birth_country")\
        .withColumnRenamed("i94res", "residence_country") \
        .withColumnRenamed("i94port", "port_code")\
        .withColumnRenamed("i94mode", "mode_code")\
        .withColumnRenamed("i94addr", "state_code") \
        .withColumnRenamed("i94bir", "age") \
        .withColumnRenamed("i94visa", "visa")

In [126]:
df_immigration_data.head(5)

[Row(year='2016.0', month='4.0', birth_country='209.0', residence_country='209.0', port_code='HHW', arrdate='2016-04-22', mode_code='1.0', state_code='HI', age='61.0', visa='2.0', occup=None, gender='F'),
 Row(year='2016.0', month='4.0', birth_country='582.0', residence_country='582.0', port_code='MCA', arrdate='2016-04-23', mode_code='1.0', state_code='TX', age='26.0', visa='2.0', occup=None, gender='M'),
 Row(year='2016.0', month='4.0', birth_country='148.0', residence_country='112.0', port_code='OGG', arrdate='2016-04-07', mode_code='1.0', state_code='FL', age='76.0', visa='2.0', occup=None, gender='M'),
 Row(year='2016.0', month='4.0', birth_country='297.0', residence_country='297.0', port_code='LOS', arrdate='2016-04-28', mode_code='1.0', state_code='CA', age='25.0', visa='2.0', occup=None, gender='M'),
 Row(year='2016.0', month='4.0', birth_country='111.0', residence_country='111.0', port_code='CHM', arrdate='2016-04-06', mode_code='3.0', state_code='NY', age='19.0', visa='2.0', occup=None, gender='F')]

In [96]:
df_immigration_data.createOrReplaceTempView("df_spark")
df_state.createOrReplaceTempView("df_state")
df_visa.createOrReplaceTempView("df_visa")
df_model.createOrReplaceTempView("df_model")
df_country.createOrReplaceTempView("df_country")

In [103]:
sex_table = spark.sql("""
    SELECT
        count(*) count_all,
        sum(case when gender = 'M' then 1 else 0 end) count_man,
        sum(case when gender = 'F' then 1 else 0 end) count_woman,
        coalesce(c.state_code, '99') as state_code,
        i94mon as month
    FROM df_spark a
    LEFT JOIN df_state c on a.i94addr=c.state_code
    group by i94mon, state_code
""")

In [105]:
sex_table.head(20)

[Row(count_all=2, count_man=1, count_woman=1, state_code='OR', month='4.0'),
 Row(count_all=13, count_man=7, count_woman=6, state_code='VA', month='4.0'),
 Row(count_all=1, count_man=0, count_woman=1, state_code='MS', month='4.0'),
 Row(count_all=1, count_man=0, count_woman=1, state_code='KS', month='4.0'),
 Row(count_all=1, count_man=1, count_woman=0, state_code='NM', month='4.0'),
 Row(count_all=163, count_man=86, count_woman=58, state_code='CA', month='4.0'),
 Row(count_all=5, count_man=3, count_woman=2, state_code='OH', month='4.0'),
 Row(count_all=1, count_man=1, count_woman=0, state_code='PR', month='4.0'),
 Row(count_all=10, count_man=6, count_woman=4, state_code='PA', month='4.0'),
 Row(count_all=161, count_man=59, count_woman=86, state_code='NY', month='4.0'),
 Row(count_all=1, count_man=1, count_woman=0, state_code='WI', month='4.0'),
 Row(count_all=1, count_man=1, count_woman=0, state_code='UT', month='4.0'),
 Row(count_all=27, count_man=20, count_woman=7, state_code='GU', month='4.0'),
 Row(count_all=12, count_man=6, count_woman=5, state_code='DC', month='4.0'),
 Row(count_all=12, count_man=1, count_woman=7, state_code='NE', month='4.0'),
 Row(count_all=1, count_man=0, count_woman=1, state_code='ME', month='4.0'),
 Row(count_all=2, count_man=0, count_woman=2, state_code='MO', month='4.0'),
 Row(count_all=31, count_man=14, count_woman=12, state_code='IL', month='4.0'),
 Row(count_all=26, count_man=5, count_woman=11, state_code='MA', month='4.0'),
 Row(count_all=19, count_man=15, count_woman=2, state_code='GA', month='4.0')]

In [180]:
# residence_table = spark.sql("""
#     SELECT
#         COUNT(i94res) as count_all,
#         i94res,
#         i94addr,
#         i94mon as month
#     FROM df_spark a
#     LEFT JOIN df_state c on a.i94addr=c.state_code
#     LEFT JOIN df_country d on a.i94res=d.country
#     WHERE count_all=(
#         SELECT row_number() over (partition by i94addr order by count_all desc) as row_number
#         FROM df_spark b
#         group by a.i94mon, a.i94res
#     )
#     group by a.i94mon, a.i94addr, a.i94res  
# """)




# HAVING sum_country=(SELECT MAX(count_country)
#                             FROM (SELECT COUNT(i94res) as count_country
#                                  FROM df_spark b
#                                  WHERE b.i94addr = a.i94addr
#                                  group by i94mon, i94addr, i94res) t)

AnalysisException: cannot resolve '`count_all`' given input columns: [a._c0, a.admnum, a.airline, a.arrdate, a.biryear, a.cicid, a.count, d.country, d.country_code, a.depdate, a.dtaddto, a.dtadfile, a.entdepa, a.entdepd, a.entdepu, a.fltno, a.gender, a.i94addr, a.i94bir, a.i94cit, a.i94mode, a.i94mon, a.i94port, a.i94res, a.i94visa, a.i94yr, a.insnum, a.matflag, a.occup, c.state, c.state_code, a.visapost, a.visatype]; line 10 pos 10;
'Aggregate ['a.i94mon, 'a.i94addr, 'a.i94res], ['COUNT('i94res) AS count_all#1535, 'i94res, 'i94addr, 'i94mon AS month#1536]
+- 'Filter ('count_all = scalar-subquery#1534 [])
   :  +- 'Aggregate [outer(i94mon#851), outer(i94res#853)], [row_number() windowspecdefinition(i94addr#857, 'count_all DESC NULLS LAST, specifiedwindowframe(RowFrame, unboundedpreceding$(), currentrow$())) AS row_number#1533]
   :     +- SubqueryAlias b
   :        +- SubqueryAlias df_spark
   :           +- Project [_c0#848, cicid#849, i94yr#850, i94mon#851, i94cit#852, i94res#853, i94port#854, arrdate#970, i94mode#856, i94addr#857, <lambda>(depdate#858) AS depdate#1001, i94bir#859, i94visa#860, count#861, dtadfile#862, visapost#863, occup#864, entdepa#865, entdepd#866, entdepu#867, matflag#868, biryear#869, dtaddto#870, gender#871, ... 5 more fields]
   :              +- Project [_c0#848, cicid#849, i94yr#850, i94mon#851, i94cit#852, i94res#853, i94port#854, <lambda>(arrdate#855) AS arrdate#970, i94mode#856, i94addr#857, depdate#858, i94bir#859, i94visa#860, count#861, dtadfile#862, visapost#863, occup#864, entdepa#865, entdepd#866, entdepu#867, matflag#868, biryear#869, dtaddto#870, gender#871, ... 5 more fields]
   :                 +- Relation[_c0#848,cicid#849,i94yr#850,i94mon#851,i94cit#852,i94res#853,i94port#854,arrdate#855,i94mode#856,i94addr#857,depdate#858,i94bir#859,i94visa#860,count#861,dtadfile#862,visapost#863,occup#864,entdepa#865,entdepd#866,entdepu#867,matflag#868,biryear#869,dtaddto#870,gender#871,... 5 more fields] csv
   +- Join LeftOuter, (i94res#853 = country#97)
      :- Join LeftOuter, (i94addr#857 = state_code#190)
      :  :- SubqueryAlias a
      :  :  +- SubqueryAlias df_spark
      :  :     +- Project [_c0#848, cicid#849, i94yr#850, i94mon#851, i94cit#852, i94res#853, i94port#854, arrdate#970, i94mode#856, i94addr#857, <lambda>(depdate#858) AS depdate#1001, i94bir#859, i94visa#860, count#861, dtadfile#862, visapost#863, occup#864, entdepa#865, entdepd#866, entdepu#867, matflag#868, biryear#869, dtaddto#870, gender#871, ... 5 more fields]
      :  :        +- Project [_c0#848, cicid#849, i94yr#850, i94mon#851, i94cit#852, i94res#853, i94port#854, <lambda>(arrdate#855) AS arrdate#970, i94mode#856, i94addr#857, depdate#858, i94bir#859, i94visa#860, count#861, dtadfile#862, visapost#863, occup#864, entdepa#865, entdepd#866, entdepu#867, matflag#868, biryear#869, dtaddto#870, gender#871, ... 5 more fields]
      :  :           +- Relation[_c0#848,cicid#849,i94yr#850,i94mon#851,i94cit#852,i94res#853,i94port#854,arrdate#855,i94mode#856,i94addr#857,depdate#858,i94bir#859,i94visa#860,count#861,dtadfile#862,visapost#863,occup#864,entdepa#865,entdepd#866,entdepu#867,matflag#868,biryear#869,dtaddto#870,gender#871,... 5 more fields] csv
      :  +- SubqueryAlias c
      :     +- SubqueryAlias df_state
      :        +- Relation[state_code#190,state#191] parquet
      +- SubqueryAlias d
         +- SubqueryAlias df_country
            +- Project [country_code#91, regexp_replace(country#94, ^INVALID.*|Collapsed.*|No Country.*, INVALID) AS country#97]
               +- Project [country_code#91, ltrim(rtrim(country#88, None), None) AS country#94]
                  +- Project [ltrim(rtrim(country_code#85, None), None) AS country_code#91, country#88]
                     +- Project [country_code#85, regexp_replace(country#82, 	, ) AS country#88]
                        +- Project [regexp_replace(country_code#79, 	, ) AS country_code#85, country#82]
                           +- Project [country_code#79, regexp_replace(country#76, ', ) AS country#82]
                              +- Project [regexp_replace(country_code#70, ', ) AS country_code#79, country#76]
                                 +- Project [country_code#70, regexp_replace(country#73, ', ) AS country#76]
                                    +- Project [country_code#70, _c1#65 AS country#73]
                                       +- Project [_c0#64 AS country_code#70, _c1#65]
                                          +- Relation[_c0#64,_c1#65] csv

In [191]:
# residence_table = spark.sql("""
#     SELECT
#       i94addr, 
#       i94res, 
#       count(*) as count_all,
#       row_number() over (partition by i94addr order by count_all desc) as row_number
#       FROM df_spark  
# """)
residence_table = spark.sql("""
    SELECT
    i94addr, {0}, count(*) as count_all
      FROM df_spark
      GROUP BY i94addr, {0} 
""".format("i94res"))


residence_table.createOrReplaceTempView("df_residence_table")

row_number_residence = spark.sql("""
       SELECT
        i94addr,
        {0},
        row_number() over (partition by i94addr order by count_all desc) as row_number
      FROM df_residence_table
""".format("i94res"))

row_number_residence.createOrReplaceTempView("row_number_residence")

residence_table_final = spark.sql("""
    SELECT i94addr, {0}
    FROM row_number_residence
    WHERE row_number = 1 
""".format("i94res"))

residence_table_final.head(100)

[Row(i94addr='AZ', i94res='260.0'),
 Row(i94addr='SC', i94res='117.0'),
 Row(i94addr='LA', i94res='438.0'),
 Row(i94addr='MN', i94res='273.0'),
 Row(i94addr='NJ', i94res='213.0'),
 Row(i94addr='DC', i94res='135.0'),
 Row(i94addr='OR', i94res='260.0'),
 Row(i94addr='SW', i94res='135.0'),
 Row(i94addr=None, i94res='209.0'),
 Row(i94addr='VA', i94res='135.0'),
 Row(i94addr='VQ', i94res='525.0'),
 Row(i94addr='RI', i94res='131.0'),
 Row(i94addr='KY', i94res='112.0'),
 Row(i94addr='NH', i94res='158.0'),
 Row(i94addr='MI', i94res='582.0'),
 Row(i94addr='NV', i94res='582.0'),
 Row(i94addr='WI', i94res='582.0'),
 Row(i94addr='ID', i94res='123.0'),
 Row(i94addr='CA', i94res='438.0'),
 Row(i94addr='CT', i94res='135.0'),
 Row(i94addr='NE', i94res='135.0'),
 Row(i94addr='NC', i94res='213.0'),
 Row(i94addr='VT', i94res='135.0'),
 Row(i94addr='MD', i94res='111.0'),
 Row(i94addr='MO', i94res='438.0'),
 Row(i94addr='IL', i94res='135.0'),
 Row(i94addr='ME', i94res='112.0'),
 Row(i94addr='GU', i94res='209.0'),
 Row(i94addr='WA', i94res='207.0'),
 Row(i94addr='MS', i94res='689.0'),
 Row(i94addr='AL', i94res='112.0'),
 Row(i94addr='IN', i94res='245.0'),
 Row(i94addr='OH', i94res='526.0'),
 Row(i94addr='TN', i94res='209.0'),
 Row(i94addr='IA', i94res='368.0'),
 Row(i94addr='NM', i94res='209.0'),
 Row(i94addr='PA', i94res='135.0'),
 Row(i94addr='TE', i94res='131.0'),
 Row(i94addr='NY', i94res='135.0'),
 Row(i94addr='UN', i94res='135.0'),
 Row(i94addr='TX', i94res='245.0'),
 Row(i94addr='GA', i94res='135.0'),
 Row(i94addr='MA', i94res='112.0'),
 Row(i94addr='KS', i94res='691.0'),
 Row(i94addr='CO', i94res='582.0'),
 Row(i94addr='FL', i94res='135.0'),
 Row(i94addr='AR', i94res='261.0'),
 Row(i94addr='OK', i94res='582.0'),
 Row(i94addr='PR', i94res='518.0'),
 Row(i94addr='MP', i94res='245.0'),
 Row(i94addr='UT', i94res='213.0'),
 Row(i94addr='HI', i94res='209.0')]

In [195]:
df_airport.createOrReplaceTempView("df_airport")

In [196]:
airport_table = spark.sql("""
    SELECT
    i94addr, i94port, count(*) as count_all
      FROM df_spark
      GROUP BY i94addr, i94port 
""")


airport_table.createOrReplaceTempView("df_airport_table")

row_number_airport = spark.sql("""
       SELECT
        i94addr,
        i94port,
        row_number() over (partition by i94addr order by count_all desc) as row_number
      FROM df_airport_table
""")

row_number_airport.createOrReplaceTempView("row_number_airport")

airport_table_final = spark.sql("""
    SELECT i94addr, i94port
    FROM row_number_airport
    WHERE row_number = 1 
""")

airport_table_final.head(100)

[Row(i94addr='AZ', i94port='LOS'),
 Row(i94addr='SC', i94port='CLT'),
 Row(i94addr='LA', i94port='LOS'),
 Row(i94addr='MN', i94port='SPM'),
 Row(i94addr='NJ', i94port='NEW'),
 Row(i94addr='DC', i94port='WAS'),
 Row(i94addr='OR', i94port='BLA'),
 Row(i94addr='SW', i94port='SFR'),
 Row(i94addr=None, i94port='MIA'),
 Row(i94addr='VA', i94port='WAS'),
 Row(i94addr='VQ', i94port='X96'),
 Row(i94addr='RI', i94port='NYC'),
 Row(i94addr='KY', i94port='CLT'),
 Row(i94addr='NH', i94port='NYC'),
 Row(i94addr='MI', i94port='DET'),
 Row(i94addr='NV', i94port='LVG'),
 Row(i94addr='WI', i94port='ATL'),
 Row(i94addr='ID', i94port='SLC'),
 Row(i94addr='CA', i94port='LOS'),
 Row(i94addr='CT', i94port='NYC'),
 Row(i94addr='NE', i94port='NYC'),
 Row(i94addr='NC', i94port='NYC'),
 Row(i94addr='VT', i94port='ATL'),
 Row(i94addr='MD', i94port='WAS'),
 Row(i94addr='MO', i94port='SFR'),
 Row(i94addr='IL', i94port='CHI'),
 Row(i94addr='ME', i94port='TAM'),
 Row(i94addr='GU', i94port='AGA'),
 Row(i94addr='WA', i94port='SEA'),
 Row(i94addr='MS', i94port='MIA'),
 Row(i94addr='AL', i94port='MIA'),
 Row(i94addr='IN', i94port='NEW'),
 Row(i94addr='OH', i94port='MIA'),
 Row(i94addr='TN', i94port='CHI'),
 Row(i94addr='IA', i94port='CHI'),
 Row(i94addr='NM', i94port='DAL'),
 Row(i94addr='PA', i94port='NEW'),
 Row(i94addr='TE', i94port='NYC'),
 Row(i94addr='NY', i94port='NYC'),
 Row(i94addr='UN', i94port='SFR'),
 Row(i94addr='TX', i94port='HOU'),
 Row(i94addr='GA', i94port='ATL'),
 Row(i94addr='MA', i94port='BOS'),
 Row(i94addr='KS', i94port='LOS'),
 Row(i94addr='CO', i94port='PHI'),
 Row(i94addr='FL', i94port='MIA'),
 Row(i94addr='AR', i94port='DET'),
 Row(i94addr='OK', i94port='PHO'),
 Row(i94addr='PR', i94port='CLM'),
 Row(i94addr='MP', i94port='SAI'),
 Row(i94addr='UT', i94port='LOS'),
 Row(i94addr='HI', i94port='HHW')]

In [133]:
df_immigration_clean = spark.sql("""
                                                select 
                                                        i.i94yr as year,
                                                        i.i94mon as month,
                                                        i.i94cit as birth_country,
                                                        i.i94res as residence_country,
                                                        i.i94port as port,
                                                        i.arrdate as arrival_date,
                                                        coalesce(m.model, 'Not reported') as arrival_mode,
                                                        coalesce(c.state_code, '99') as us_state,
                                                        i.depdate as departure_date,
                                                        i.i94bir as age,
                                                        coalesce(v.visa, 'Other') as visa_type_code,
                                                        i.dtadfile as date_added,
                                                        i.visapost as visa_issued_department,
                                                        i.occup as occupation,
                                                        i.entdepa as arrival_flag,
                                                        i.entdepd as departure_flag,
                                                        i.entdepu as update_flag,
                                                        i.matflag as match_arrival_departure_fag,
                                                        i.biryear as birth_year,
                                                        i.dtaddto as allowed_date,
                                                        i.insnum as ins_number,
                                                        i.airline as airline,
                                                        i.admnum as admission_number,
                                                        i.visatype as visa_type
                                                    from df_spark i left join df_state c on i.i94addr=c.state_code
                                                        left join df_visa v on i.i94visa=v.visa_code
                                                        left join df_model m on i.i94mode=m.model_code
                                                """)

In [134]:
df_immigration_clean.show(5)

+------+-----+-------------+-----------------+----+------------+------------+--------+--------------+-------------+--------------+----------+----------------------+----------+------------+--------------+-----------+---------------------------+----------+------------+----------+-------+----------------+-------------+---------+
|  year|month|birth_country|residence_country|port|arrival_date|arrival_mode|us_state|departure_date|repondent_age|visa_type_code|date_added|visa_issued_department|occupation|arrival_flag|departure_flag|update_flag|match_arrival_departure_fag|birth_year|allowed_date|ins_number|airline|admission_number|flight_number|visa_type|
+------+-----+-------------+-----------------+----+------------+------------+--------+--------------+-------------+--------------+----------+----------------------+----------+------------+--------------+-----------+---------------------------+----------+------------+----------+-------+----------------+-------------+---------+
|2016.0|  4.0|        209.0|            209.0| HHW|  2016-04-22|Not reported|      HI|    2016-04-29|         61.0|         Other|  20160422|                  null|      null|           G|             O|       null|                          M|    1955.0|    07202016|      null|     JL|   56582674633.0|        00782|       WT|
|2016.0|  4.0|        582.0|            582.0| MCA|  2016-04-23|Not reported|      TX|    2016-04-24|         26.0|         Other|  20160423|                   MTR|      null|           G|             R|       null|                          M|    1990.0|    10222016|      null|    *GA|   94361995930.0|        XBLNG|       B2|
|2016.0|  4.0|        148.0|            112.0| OGG|  2016-04-07|Not reported|      FL|    2016-04-27|         76.0|         Other|  20160407|                  null|      null|           G|             O|       null|                          M|    1940.0|    07052016|      null|     LH|   55780468433.0|        00464|       WT|
|2016.0|  4.0|        297.0|            297.0| LOS|  2016-04-28|Not reported|      CA|    2016-05-07|         25.0|         Other|  20160428|                   DOH|      null|           G|             O|       null|                          M|    1991.0|    10272016|      null|     QR|   94789696030.0|        00739|       B2|
|2016.0|  4.0|        111.0|            111.0| CHM|  2016-04-06|Not reported|      NY|    2016-04-09|         19.0|         Other|  20160406|                  null|      null|           Z|             K|       null|                          M|    1997.0|    07042016|      null|   null|   42322572633.0|         LAND|       WT|
+------+-----+-------------+-----------------+----+------------+------------+--------+--------------+-------------+--------------+----------+----------------------+----------+------------+--------------+-----------+---------------------------+----------+------------+----------+-------+----------------+-------------+---------+
only showing top 5 rows

In [135]:
df_model.head(5)

[Row(model_code='1', model='Air'),
 Row(model_code='2', model='Sea'),
 Row(model_code='3', model='Land'),
 Row(model_code='9', model='Not reported')]